.container {
  width: 300px;
  height: 500px;
  margin: 30px;
  border-radius: 12px;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 100px;
  top: 20%;
  padding: 0 25px;
}

.title {
  height: 40px;
  line-height: 40px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid silver;
  text-align: center;
  font-weight: bolder;
  color: cadetblue;
}

.content {
  /* width: 250px; */
  margin: 10px auto;
  text-indent: 2em;
}
